@import './themeVariables.scss';

#bar {
    height: 8%;
    color: white;
    font-size: 1rem;
    padding: 0.5% 0;
    @include themify($themes) {
        background-color: themed('barBackground');
        box-shadow: 0 4px 6px themed('barBoxShadow') ;
    }

    p {
        font-weight: 500;
    }

    #container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 10%;

        img {
            max-height: 5vh;
        }

        #logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            height: 100%;
            color: #000;
            @include themify($themes) {
                filter: invert(themed('invert'));
            }
        }

        #rhs {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 60px;
            height: 100%;
            @include themify($themes) {
                color: themed('textColor');
            }

            a {
                text-decoration: none;
            }
        }

        #theme-switch {
            border: 0;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @include themify($themes) {
                filter: invert(themed('invert'));
            }

            font-size: 1.5rem;
            cursor: pointer;
        }

        #search {
            display: flex;
            align-items: stretch;
            justify-items: stretch;

            #button-search {
                display: block;
                cursor: pointer;
                border: none;
                padding: 6px 16px;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
                @include themify($themes) {
                    background-color: themed('barBackground');
                }
                transition: background-color .5s ease-in-out;
                font-size: 1.1rem;

                svg {
                    @include themify($themes) {
                        color: themed('textColor');
                    }
                }
            }

            #form-search {
                display: flex;
                transition: opacity .5s ease-in-out;
        
                #select-search, #input-search {
                    // border: 1px solid #3f3f3f;
                    // background-color: #2b2b2b;
                    @include themify($themes) {
                        background-color: themed('searchBackground');
                        border: 1px solid themed('searchBorder');
                    }
                    @include themify($themes) {
                        color: themed('textColor');
                    }
                    outline: none;
                    padding: 4px 12px;
                    font-size: 1.1rem;
                }

                #input-search {
                    border-top-left-radius: 1rem;
                    border-bottom-left-radius: 1rem;
                }
            }
        }
    }
}