@import './themeVariables.scss';

$bar-height: 8%;

.bar {
    height: 8vh;
    color: white;
    font-size: 1rem;
    padding: 2.5% 0;
    @include themify($themes) {
        background-color: themed('barBackground');
        box-shadow: 0 4px 6px themed('barBoxShadow') ;
    }
    
    #hamburger {
        visibility: hidden;
        position: absolute;
        top: 8px;
        left: 24px;
        @include themify($themes) {
            color: themed('textColor');
        }
    }

    p {
        font-weight: 500;
        margin: 0;
    }

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 8%;

        img {
            max-height: 5vh;
        }

        .logo {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            height: 100%;
            color: #000;
            @include themify($themes) {
                filter: invert(themed('invert'));
            }
        }

        .rhs {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 60px;
            height: 100%;
            @include themify($themes) {
                color: themed('textColor');
            }

            a {
                text-decoration: none;
            }
        }

        .theme-switch {
            width: 24px;
            border: 0;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            svg {
                @include themify($themes) {
                    color: themed('textColor') !important;
                }
            }

            font-size: 1.5rem;
            cursor: pointer;
        }

        .search {
            display: flex;
            align-items: stretch;
            justify-items: stretch;

            .button-search {
                display: block;
                cursor: pointer;
                border: none;
                padding: 6px 16px;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
                background-color: transparent;
                transition: background-color .5s ease-in-out;
                font-size: 1.1rem;

                svg {
                    @include themify($themes) {
                        color: themed('textColor');
                    }
                }
            }

            .form-search {
                display: flex;
                transition: opacity .5s ease-in-out;
        
                .select-search, .input-search {
                    @include themify($themes) {
                        background-color: themed('searchBackground');
                        border: 1px solid themed('searchBorder');
                    }
                    @include themify($themes) {
                        color: themed('textColor');
                    }
                    outline: none;
                    padding: 4px 12px;
                    font-size: 1.1rem;
                }

                .input-search {
                    border-top-left-radius: 1rem;
                    border-bottom-left-radius: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .container {
        margin: 0 4% !important;
    }
}

@media screen and (max-width: 1060px) {
    #hamburger {
        visibility: visible !important;
    }

    .bar {
        top: 0;
        position: sticky;
        width: 100%;
        z-index: 100;
    }

    // move text from bottom to left and add gap
    .acc-link, .logo {
        flex-direction: row !important;
        gap: 6px;
    }

    // display nav bar as rows
    .container {
        flex-direction: column;
        margin: 0 !important;

        .rhs {
            flex-direction: column !important;
            gap: 0 !important;
    
            .user-icon {
                flex-direction: column !important;
                gap: 0 !important;
                text-align: center;
            }
        }
    }


    // CONTAINER
    .rhs {
        justify-content: left !important;
        text-align: center;
        z-index: 100;
        @include themify($themes) {
            background-color: themed('barBackground');
            box-shadow: 6px 0 4px -2px themed('barBoxShadow');
        }

        position: fixed;
        left: -90%;
        top: $bar-height;

        height: calc(100% - $bar-height) !important;
        width: 90%;
        transition: left .3s ease-in-out;
        padding: 2% 0;
    }

    .search, .form-search {
        flex-direction: column;
        gap: 10px;
    }

    .search {
        width: 100%;
        margin: 0 !important;
        margin-bottom: 20px !important;
    }

    .form-search {
        select, input {
            text-align: center;
        }
    }

    .user-icon {
        width: 100%;
        height: 100%;
        justify-content: left;
    }

    // remove border radius from search bar
    .input-search, .button-search, .select-search {
        border-radius: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        border: 0 !important;
        padding: 4px !important;
    }

    .button-search {
        background-color: #2B2B2B;
    }
    
    // CUSTOM CSS ONLY FOR MEDIA QUERIES
    .panel {
        width: 100% !important;
        margin: 12px 0;
        padding: 8px 0;
        @include themify($themes) {
            background-color: themed('panelBackground') !important;
        }
    }

    #videos {
        padding: 2% + $bar-height;
    }
}