#bar {
    height: 11%;
    background-color: #212121;
    padding: 1% 0;
    box-shadow: 0 1px 0 0 rgb(17 17 17 / 7%);

    #container {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        align-items: center;
        margin: 0 10%;

        img {
            max-height: 6vh;
        }

        #logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color:black;
            filter: invert(1);
        }

        #rhs {
            display:flex;
            gap: 20px;
            align-items: center;

            a {
                color:black;
                text-decoration: none;
            }
        }

        #search {
            #button-search {
                border-radius: 50%;
                cursor:pointer;
                padding: 15px;
                border: none;
                background-color: orange;

                svg {
                    filter: invert(1);
                }
            }
            #form-search {
                margin-left: 10px;
                display: inline-block;
                transition: opacity .5s ease-in-out;

                #input-search {
                    border: none;
                    border-bottom: 1px solid black;
                }

                #input-search::placeholder {
                    border: none;
                    border-bottom: 1px solid black;
                }
            }
        }
    }
}
