@import './themeVariables.scss';

body:has(#popup) {
	overflow: hidden;
}

#popup {
	z-index: 3;
	position: absolute;
	width: 100vw;
	height: 90vh;
	top: 0%;
	left: 0%;
	background-color: rgba(255,255,255,.02);
	backdrop-filter: blur(3px);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	#box {
		z-index: 4;
		@include themify($themes) {
			background-color: themed('popupBackground');
		}
		width: 400px;
		height: 500px;
		border-radius: 10px;
		border: 1px solid gray;
		display: flex;
		flex-direction:column;
		align-items: center;
		padding: 10px;
		position: relative;

		#title {
			@include themify($themes) {
				border-bottom: 2px solid themed('textColor');
			}
			width: 100%;
			text-align: center;
		}

		#close {
			position: absolute;
			left: 95%;
			cursor: pointer;
		}

		#error-msg {
			text-align: center;
		}
	}
}
