@import './themeVariables.scss';

#player {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;

	#title {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		margin-top: 5%;
		width: 70%;

		.buttons {
			display: flex;
			justify-content: space-between;
			width: 100%;
			gap: 20px;
			font-size: 1.5rem;

			.episode-button {
				@include themify($themes) {
					color: themed('textColor');
				}
				text-decoration: none;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}

		@include themify($themes) {
			color: themed('textColor');
		}

		h1 {
			width: 100%;
			font-size: 3rem;
			justify-self: center;
			margin: 0;
		}
	}

	video, #player-holder {
		max-width: 70%;
		margin-bottom: 4%;
	}

	#player-holder {
		aspect-ratio: 2 / 1;
		background: url(/loading.gif) center center no-repeat;
		background-color: #F1F2F3;

		iframe {
			aspect-ratio: 2 / 1;
			height: 100%;
			border: 0;
		}
	}
}

@media screen and (max-width: 1200px) {
	#player {
		#title {
			h1 {
				font-size: 2rem;
			}
		}
	}
}

@media screen and (max-width: 1060px) {
	#player {
		#title {
			h1 {
				font-size: 1.5rem;
			}
		}
	}
}