#player {
	display:flex;
	flex-direction: column;
	align-items: center;
	height: 80%;

	#title {
		font-size: 3rem;
		filter: invert(1);
	}

	video, #player-holder {
		height: 70%;
	}

	#player-holder {
		aspect-ratio: 2 / 1;
		background: url(/loading.gif) center center no-repeat;
		background-color: #F1F2F3;

		iframe {
			aspect-ratio: 2 / 1;
			height: 100%;
		}
	}
	
	//TODO: Make own player
}

