#items{
	min-height: 90%;
	background: linear-gradient(#FFFFFF,#DDDDFF)
}
#items #container{
	display:grid;
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
	gap: 100px;
	margin: 0 5%;
	padding-top: 2%;
	.small-vid{
		text-decoration: none;
	}
	.small-vid .wrapper{
		display:flex;
		img{
			margin-right: 10px;
			aspect-ratio: 0.65;
			max-height: 200px;
		}
		.text-wrapper{
			display:flex;
			flex-direction: column;
			justify-content: center;
			& > *{
				color:black;
				margin:0;
			}
			h6{
				font-size: .9rem;
			}
		}
	}
}
