#player{
	display:flex;
	flex-direction: column;
	align-items: center;
	#title{
		font-size: 3rem;
	}
	//TODO: Make own player
}
#err{
	display:flex;
	height: 89%;
	align-items: center;
	justify-content: center;
	color:red;
	span{
		text-align: center;
		a{
			text-decoration: none;
			color:blue;
		}
	}
	img{
		min-width: 50%;
	}
}
